@charset "UTF-8";
/* CSS Document */

body {margin: 0px; background-color: #DBDBDB}
div.name {color: #FFFFFF; font-size: 70px; background-color: #4682B4; font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"}
a {padding: 14px; color: #4682B4; font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; margin: 20px}
a:hover, a:active {background-color: #FFFFFF}
div.top-spacing {margin-top: 15px}
