@charset "UTF-8";
/* CSS Document */

#reviews-page {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
h1 {
  text-align: center;
}
.review {
  display: none;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #4682B4;
}
.star {
  position: relative;
  height: 30px;
}
